
<h1><%= @employer.name %></h1>
<%# binding.pry%>
<%= form_for([@employer, @job]) do |f| %>
<p>title: <%= f.text_field :title %></p>
<p>address: <%= f.text_field :address %></p>
<p>state: <%= f.text_field :state %></p>
<p>date: <%= f.text_field :date %></p>
<%= f.submit %>
<% end %>




# employer_id
# employee_id
# title
# address
# state
# date
