<!DOCTYPE html>
<html>
  <head>
    <title>PortofolioProjectJobs</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<!-- /////////////////////////// -->

    <!--  ///////////////////////////-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <a class="navbar-brand" href="http://0.0.0.0:3000/">Home</a>
            </button>

            <% if @current_user == nil %>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <%= link_to "Employer's Login", signin_employer_path, class: "navbar-brand"%>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <%= link_to "Employee's Login", signin_employee_path, class: "navbar-brand" %>
              </button>
            <% end %>
            <% if @current_user  %>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <%= link_to 'Logout', logout_path,  class: "navbar-brand" %>
              </button>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <%= yield %>

    <footer>
      <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
    </footer>
  </body>
</html>
